@import url('https://fonts.googleapis.com/css2?family=Inter:wght@337&display=swap');

.App {
  text-align: left;
  // font-family: 'Inter', sans-serif;
  width: 90%;
  max-width: 1500px;
  margin: 50px auto;
  @media (max-width: 650px) {
    width: 95%;
    margin: 30px auto 50px auto;
  }
}

html, body {max-width: 100%;}

body { 
  // background-color: #dee1ec; 
  background-color: #bcbcbc;
  width: 100vw; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after { box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
#tryagain { display: none; }

.trackIDform {
  width: 100%;
  input {
    width: 400px;
    height: 40px;
    font-size: 18px;  
    font-weight: 500;  
    padding: 5px 10px;
    border: 0;
    color:  #404040;
    box-shadow: inset 
      2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    background: transparent;
    border-radius: 10px;
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  button {
    border: none;
    width: 120px;
    height: 40px;
    padding: 10px auto;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
    background: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: relative;
    box-shadow: inset 
      2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 10px;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      direction: rtl;
      border-radius: 10px;
      z-index: -1;
      box-shadow:
       -7px -7px 20px 0px #fff9,
       -4px -4px 5px 0px #fff9,
       7px 7px 20px 0px #0002,
       4px 4px 5px 0px #0001;
      transition: all 0.3s ease;
    }
    &:hover:after {
      left: auto;
      right: 0;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
    @media (max-width: 650px) {
      margin: 20px auto 10px 0;
    }
  }
}

.results {
  display: none;
  max-width: 100vw;
  h3 {
    font-size: 5em;
    font-weight: 500;
    font-style: italic;
    margin: 0; padding: 0;
    &:first-child { margin-top: 30px; }
    &:last-of-type { margin-bottom: 30px; }
    small {
      font-size: 20px;
      font-style: normal;
    }
    @media (max-width: 650px) {
      font-size: 3em;
      small {
        display: none;
      }
    }
  }
  table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0;
    // color: #404040;
    // box-shadow: inset
    //   5px 5px 5px 0px rgba(255,255,255,.5),
    //   10px 10px 20px 0px rgba(0,0,0,.1),
    //   10px 10px 5px 0px rgba(0,0,0,.1);
    thead, tbody {
      padding: 7px;
    }
    thead {
      // box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
      th {
        padding: 10px;
        font-size: 20px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 10px;
        color: rgb(32, 32, 32);
        // text-shadow: 2px 2px 20px rgb(80, 80, 80);
        z-index: 999;
      }
    }
    tbody tr {
      transition: all 0.3s ease;
      color: #2f2f2f;
      &:hover {
        padding: 20px;
        // box-shadow: 
        //   9px 9px 16px rgba(163, 177, 198, 0.6),
        //   0px -9px 16px rgba(255, 255, 255, 0.6);
      }
      td {
        padding: 10px;
        font-size: 18px;
        position: relative;
      }
    }
    button {
      border: 0;
      background-color: transparent;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      transition: all 0.3s ease;
      &:hover {
        color: #777;
      }
      &:active {
        top: 2px;
        position: relative;
      }
    }
  }
}

.alert-message {
  position: fixed;
  height: 40px;
  width: 175px;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  text-shadow: 2px 2px 20px rgb(80, 80, 80);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background: #525252;
  // box-shadow: 0 2px 24px rgba(0,0,0,.154638);
  // border-radius: 5px;
  z-index: 9999;
  font-weight: 700;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tryagain,
#instruction {
  margin-top: 30px;
  font-size: 5em;
  color: #404040;
  @media (max-width: 650px) {
    font-size: 3em;
  }
  > .try {
    font-size: 25px;
  }
}